# IntelliJ IDEA
.idea/
!.idea/codeStyles
!.idea/inspectionProfiles
!.idea/compiler.xml
*.iml

.DS_Store
Thumbs.db

# Maven
/target/
/reports/
/*.log

# TestNG reports
test-output/
surefire-reports/
video
logs


# Screenshots and HTML reports
**/*.png
**/report.html
**/emailable-report.html
**/index.html

*.tmp
*.swp

ehthumbs.db
Icon?
desktop.ini

*~

*.class

.idea/workspace.xml
.idea/vcs.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
