<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Grid Suite" parallel="tests" thread-count="2" preserve-order="true">
    <test name="Chrome Tests" verbose="2">
        <parameter name="browser" value="chrome"/>
        <parameter name="driver_type" value="SELENOID"/>
        <classes>
            <class name="tests.AddMultipleItemsTest"/>
            <class name="tests.AddToCartTest"/>
            <class name="tests.CheckoutTest"/>
            <class name="tests.LockedOutUserTest"/>
            <class name="tests.LoginTest"/>
            <class name="tests.LogoutTest"/>
            <class name="tests.SortProductsTest"/>
        </classes>
    </test>
</suite>
